<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.monstertechno.moderndashbord">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ModernDashbord"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".AddDependantActivity"
            android:exported="false"
            android:parentActivityName=".DependantActivity" />
        <activity
            android:name=".AllowanceActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DependantActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ChangePassActivity"
            android:exported="false"
            android:parentActivityName=".InforActivity" />
        <activity
            android:name=".PayslipDetailActivity"
            android:exported="false"
            android:parentActivityName=".PayslipActivity" />
        <activity
            android:name=".PayslipActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PositionActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AddAttendanceActivity"
            android:exported="false"
            android:parentActivityName=".AttendanceActivity" />
        <activity
            android:name=".AttendanceActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EditOvertimeActivity"
            android:exported="false"
            android:parentActivityName=".OvertimeActivity" />
        <activity
            android:name=".OvertimeDetailActivity"
            android:exported="false"
            android:parentActivityName=".OvertimeActivity" />
        <activity
            android:name=".OvertimeActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LeaveDetailActivity"
            android:exported="false"
            android:parentActivityName=".LeaveActivity" />
        <activity
            android:name=".AddLeaveActivity"
            android:exported="false"
            android:parentActivityName=".LeaveActivity" />
        <activity
            android:name=".LeaveActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ViewPdfActivity"
            android:exported="false"
            android:parentActivityName=".ContractActivity" />
        <activity
            android:name=".InforActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ContractDetailActivity"
            android:exported="false"
            android:parentActivityName=".ContractActivity" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ContractActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:parentActivityName=".LoginActivity" />
    </application>

</manifest>